<div class="container-hero">
</div>

<div class="container-content">
  <h1>{{place.name}}</h1><br/>
  <iframe class="map"
          [src]="url" frameborder="0" style="border:0" allowfullscreen></iframe>
  <br/>
  <button (click)="randomPlace()">Anna uusi kohde</button>
  <br/>
  <div>
    <h3>Eväät voi hakea seuraavista paikoista</h3>
    <ul>
      <li>Subway</li>
      <li>City Market</li>
      <li>Mc Donalds</li>
      <li>Burger Working</li>
      <li>Chalupa</li>
      <li>S-Market</li>
      <li>Oma valinta</li>
    </ul>
  </div>
</div>


