.container-hero {
  background-image: url('../../assets/bg_piknik.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.6;
}

.container-content {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 18px;
}

button {
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 15px;
  border-radius: 6px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
